*{
  margin:0px;
  padding: 0px;
  box-sizing: :border-box;
  font-style: italic
}

body{
  background-image: url('../images/murder.jpg');
    background-size: cover;
  background-repeat: no-repeat;


}
